<!DOCTYPE html>

  <head>
    <meta charset="UTF-8">
    <title>Welcome to Codefeed - Share and Solve</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/loggedinhome.css">
    <style>
    h2 a {
      text-decoration: none;
      color: black;
    }
    h2 a:hover {
      text-decoration: underline;
      color: #001010 ;
    }
    h2 {
      color: #fc4400;
    }
    h2 span{
      color : black;
      font-style: italic;
    }
    h2 span span, h4 span {
      color : #fc4400;
    }
    </style>
  </head>

  <body>

    <nav class="nav">
   <ul class="nav__wrap">
      <li class="nav__list"><a href="/feed" class="nav__link">Home</a></li>
      <li class="nav__list"><a href="/add" class="nav__link">Add a problem</a></li>
      <li class="nav__list"><a href="/viewproblist" class="nav__link">View Solved</a></li>
      <li class="nav__list"><a href="/loggedinhome" class="nav__link">View Problems</a></li>
      <li class="nav__list"><a href="/showprofile" class="nav__link">Profile</a></li>
      <li class="nav__list"><a href="/rankings" class="nav__link">Rankings</a></li>
      <li class="nav__list"><a href="/logout" class="nav__link">Logout</a></li>
      <li class="nav__list"><a href="/settersolutions" class="nav__link">Your Problems</a></li>

   </ul>
</nav>   

<main class="content">
    <% documents.forEach(function(documentObject) { %>
    <h2><a href="/showprofile/<%= documentObject.username %>"><%= documentObject.username %></a> solved <span>Problem ID - <span><%= documentObject.problem_id %><span> <span></h2>
    <h4><span><%= documentObject._statement %></span> in  <span><%= documentObject.time %> </span> seconds on  <%= documentObject.date_added %> . </h4>
   <br /> <br />
    <% }) %>
</main>
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>  
    <script type="text/javascript" src="/loggedinhome.js"></script>  
  </body>
</html>
 

